.contacts {
	margin-bottom: 50px;
	&__inner {
		display: flex;
		gap: 50px;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__form {
		flex: 1 1 auto;
		background-color: #fff;
		margin-bottom: 45px;
		padding: 75px 42px;

		display: flex;
		flex-direction: column;

		box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);

	}
	&__title {
		font-family: YesevaOne;
		font-size: 40px;

		margin-bottom: 50px;
	}
	&__input {
		border: none;
		border-bottom: 1px solid #000;
		padding: 11px;
		margin-bottom: 10px;
		&::placeholder {
			color: #B3B3B3;
		}
	}
	&__btn {
		margin-top: 50px;
		min-width: none;
		max-width: 170px;
		color: #272727;
	}
}