// ------Vars------ 
$fontFamily: 'Comfortaa';
$fontSize: 14px;
$mainTextColor: #000;
$textColor: #FAFAFA;
$accentColor: #FFBD59;

$bg: #FFF8F3;
$accentBg: #A5978E;
$smallBlogsBg: #7B6152;


$maxWidthContainer: 1200px;

$bp992: 991.98px;
$bp768: 767.98px;
$bp480: 479.98px;
$bp320: 319.98px;

$burgerBP: 660px;
//------Vars-End------ 

@import "fonts";
@import "icons"; 
@import "../../node_modules/swiper/swiper";

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	height: 100%; // ------Фиксация-футера-внизу-страницы---------


	// font-family: 'Comfortaa', cursive;
	// font-family: 'Yeseva One', cursive;
	font-family: $fontFamily, cursive; 
	font-size: $fontSize;
	font-weight: 400;
	line-height: 1.14;
	color: $mainTextColor;
	background-color: $bg;

	overflow-x: hidden;

}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
	&:hover {
		color: $smallBlogsBg;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul, li, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	object-fit: cover;
	display: block;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

input,
button,
textarea,
select {
	font: inherit;
}

// ------Фиксация-футера-внизу-страницы---------
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.page {
	flex: 1 1 auto;
	margin-top: 80px;
}
// ------Фиксация-футера-внизу-страницы-End--------

.container {
	max-width: $maxWidthContainer;
	padding: 0 20px;
	margin: 0 auto;
}

// -----Общие блоки-----
.section {
	&__inner  {
		display: grid;
		grid-template-columns: 360px auto;
		align-items: start;
		gap: 0 10px;
	}
	&__right {
		padding-bottom: 70px;
		display: grid;
		grid-template-columns: auto auto;
		
		position: relative;

		&::before {
			content: "";
			width: 24px;
			height: 33px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url(../img/icons/candle.svg);
		}
		&::after {
			content: "";
			width: 1000%;
			height: 1px;
			position: absolute;
			bottom: 13px;
			left: 22px;
			background-color: $smallBlogsBg;
		}
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 12px;
	text-align: center;
	transition: all 0.3s ease;
	min-height: 55px;
	min-width: 150px;
	line-height: 1.125;
	font-weight: 600;
	background-color: $accentColor;
	@media (any-hover: hover) {
		&:hover {
			background-color: $smallBlogsBg;
			color: $textColor;
			font-size: 18px;
		}
	}
}

.title {
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	font-weight: 400;

	margin-bottom: 15px;
}

@import "header";
@import "burger";
@import "top";
@import "about";
@import "products";
@import "steps";
@import "footer";


// -----Общие блоки-End -----


// Adaptive 
@import "_adaptive"; 